@import "tailwindcss";

      /* 1. Body ke liye universal styles */
      body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background-color: #fff;
        overflow-x: hidden;
      }

      /* 2. Mobile devices (max 600px) ke liye fix width */
      @media screen and (max-width: 600px) {
        body {
          max-width: 600px;
          margin: auto;
        }
      }

      /* 3. Laptop/Desktop view ke liye */
      @media screen and (min-width: 601px) {
        body {
          max-width: 100%;
        }
      }
    